@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="mt-2">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-@((ViewBag.Message.Contains("success")) ? "success" : "danger")" data-dismiss="close">
            @ViewBag.Message
        </div>
    }
</div>



<div class="container-fluid">
    <div class="card m-2 shadow-lg">
        <div class="card-header bg-info text-light">
            <h6 class="m-0">Forgot Password</h6>
        </div>
        <div class="card-body pt-1">
            <form method="post" asp-action="ForgotPassword">
                <fieldset style="border:1px solid #bfbebe;padding:5px 20px 5px 20px;border-radius:6px">
                    <legend style="width:auto;border:0;font-size:14px;margin:0px 6px 0px 6px;padding:0px 5px 0px 5px;color:#0000FF">
                        <b>New Password for User</b>
                    </legend>
                    <h6 style="font-size:.8rem">Enter User ID to receive a new password in the user's email.</h6>
                    <div class="form-inline row">
                        <div class="form-group col-md-6 mb-1">
                            <label for="username" class="m-0 p-0 col-form-label-sm col-sm-2 font-weight-bold justify-content-end">User ID: &nbsp;</label>
                            <input type="text" name="username" id="username" class="form-control form-control-sm col-sm-5" style="width:80%;display:inline" required />
                        </div>
                    </div>
                    <div class="submitButton mt-2">
                        <input type="submit" value="Submit" class="btn btn-sm btn-primary offset-sm-1">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>